*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00b4d8;
}

.container{
    max-width: 420px;
    height: 100vh;
    max-height: 745px;
    margin: 0 auto;
    background-color: #0077b6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #03045e;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

h1{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    color: #caf0f8;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

#result{
    text-align: center;
}

#result img{
    width: 40%;
}

#start-text{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: #caf0f8;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

#group-btn{
    display: flex;
    width: 100%;
}

#group-btn > button > img{
    width: 100%;
}

button{
    background-color: #90e0ef;
    border: 4px solid #00b4d8;
    border-radius: 3%;
    margin: 5px;
}
